exportPattern("^[[:alpha:]]+")
export(msdial_joint)
export(msdial_joint_deconv)
export(msdial_joint_model)
export(jointALS)
export(optimizeJointALS)
export(detectJointALSPeaks)
export(refitJointALSSpectra)
export(selectJointALSComponents)

# Imported packages and functions
import(MSnbase)
import(xcms)
import(MsBackendMsp)
import(methods)
importFrom(fastICA, fastICA)

importFrom(MSnbase, readMSData, filterMsLevel, filterRt, bin)
importFrom(xcms, findChromPeaks, CentWaveParam)
importFrom(methods, new)
